{% set component_id =  __SELF__.id %}
{% set inputTextId = 'address_'~component_id  %}
{% set inputField =  __SELF__.property('field') %}
{% set map_width =  __SELF__.property('width') %}
{% set map_height =  __SELF__.property('height') %}
{% set load_script =  __SELF__.property('load_script') %}
{% set addres_list =  'addres_list'~component_id %}
{% set geocode_map =  __SELF__.property('geocode') %}
{% set search_input =  __SELF__.property('search_input') %}
{% set map_zoom =  __SELF__.property('zoom') %}
{% set lat_long =  __SELF__.property('lat_long') %}
{% set options =  __SELF__.property('options') %}
{% set info =  __SELF__.property('info') %}
{% set inputFieldId =  inputField~__SELF__.id %}


<div class="yandex-map-plugin">

    {% if load_script %}
    <script src="https://api-maps.yandex.ru/2.1/?lang=ru_RU" type="text/javascript"></script>
    {% endif %}

    {% if search_input %}

    <div class="input-group">
        <span class="input-group-addon"><i class="glyphicon glyphicon-map-marker" aria-hidden="true"></i></span>
        <input type="text" id="{{ inputTextId }}" class="form-control " />
    </div>

    <!-- Инпут для форм -->
    <input type="hidden" name="{{ inputField  }}" id="{{ inputFieldId }}" value="{{ lat_long }}">

    <!-- Список результатов -->
    <ul id="{{ addres_list }}" class="addres_list"></ul>

    {% endif %}

    <div id="{{ component_id }}" class="uit_yandex_map" style="width:{{ map_width  }}; height:{{ map_height }}"></div>


    <script>
        ymaps.ready(init_{{ component_id }});

        var myMap_{{ component_id  }},
        myPlacemark_{{ component_id }};

        function init_{{ component_id  }}() {

            myMap_{{ component_id  }} = new ymaps.Map('{{ component_id  }}', {
            {% if  lat_long %} center: [{{lat_long }}], {% else %} center:[42.337506, 69.589291], {% endif %}
            zoom: {{ map_zoom }}
            {% if options %} ,{{ options|raw }} {% endif %}

            });

            {% if lat_long %}
                myPlacemark_{{ component_id  }} = createPlacemark([{{ lat_long }}],true);
                myMap_{{ component_id  }}.geoObjects.add(myPlacemark_{{ component_id }});
            {%  endif %}

        

                {% if geocode_map %}
                    // Поиск координат центра
                    ymaps.geocode('{{ geocode_map }}', {
                        results: 1
                    }).then(function (res) {

                        var firstGeoObject = res.geoObjects.get(0),
                            coords = firstGeoObject.geometry.getCoordinates(),
                            bounds = firstGeoObject.properties.get('boundedBy');

                       if (myPlacemark_{{ component_id }}) {
                        myPlacemark_{{ component_id  }}.geometry.setCoordinates(coords);
                        document.getElementById('{{ inputFieldId  }}').value = coords[0]+','+coords[1];
                        }
                        // Если нет – создаем.
                        else {
                            myPlacemark_{{ component_id  }} = createPlacemark(coords,false);
                            myMap_{{ component_id  }}.geoObjects.add(myPlacemark_{{ component_id  }});
                        }
                       
                       // Масштабируем карту на область видимости геообъекта.
                        myMap_{{ component_id  }}.setBounds(bounds, {
                            // Проверяем наличие тайлов на данном масштабе.
                            checkZoomRange: true

                        });

                    });
                    {% endif %}
              

              {% if search_input %}

                // Слушаем клик на карте
                myMap_{{ component_id  }}.events.add('click', function (e) {
                    var coords = e.get('coords');
                    // Если метка уже создана – просто передвигаем ее
                    if (myPlacemark_{{ component_id }}) {
                        myPlacemark_{{ component_id  }}.geometry.setCoordinates(coords);
                        document.getElementById('{{ inputFieldId  }}').value = coords[0]+','+coords[1];
                    }
                    // Если нет – создаем.
                    else {
                        myPlacemark_{{ component_id  }} = createPlacemark(coords,true);
                        myMap_{{ component_id  }}.geoObjects.add(myPlacemark_{{ component_id  }});
                    }
                    getAddress(coords);

                    myPlacemark_{{ component_id  }}.events.add('dragend', function (e) {
                        var coords = myPlacemark_{{ component_id  }}.geometry.getCoordinates()
                        getAddress( coords );
                        document.getElementById('{{ inputFieldId  }}').value = coords[0]+','+coords[1];
                    });
                });

           

                document.getElementById('{{ inputTextId }}').onkeyup = function(e) {

                    ymaps.geocode(this.value, {
                        results: 10
                    }).then(function (res) {
                        showLocationList(res, document.getElementById('{{ addres_list }}'));

                    });

                }
                document.getElementById('{{ addres_list }}').addEventListener('click',  function(e){
                    var target = getEventTarget(e);
                    document.getElementById('{{ inputTextId }}').value = target.innerText;
                    document.getElementById('{{ addres_list }}').innerHTML = "";


                    ymaps.geocode(target.innerText, {
                        results: 1
                    }).then(function (res) {

                        var firstGeoObject = res.geoObjects.get(0),
                            coords = firstGeoObject.geometry.getCoordinates(),
                            bounds = firstGeoObject.properties.get('boundedBy');

                        document.getElementById('{{ inputFieldId  }}').value = coords[0]+','+coords[1];


                        if (myPlacemark_{{ component_id }}) {
                            myPlacemark_{{ component_id  }}.geometry.setCoordinates(coords);
                        }
                        else{
                            myPlacemark_{{ component_id  }} = createPlacemark(coords,true);

                            myMap_{{ component_id  }}.geoObjects.add(myPlacemark_{{ component_id  }});

                            // Слушаем событие окончания перетаскивания на метке.
                            myPlacemark_{{ component_id  }}.events.add('dragend', function () {

                                getAddress( myPlacemark_{{ component_id  }}.geometry.getCoordinates() );

                            });
                        }
                        // Добавляем первый найденный геообъект на карту.
                        myMap_{{ component_id  }}.geoObjects.add(myPlacemark_{{ component_id  }});

                        // Масштабируем карту на область видимости геообъекта.
                        myMap_{{ component_id  }}.setBounds(bounds, {
                            // Проверяем наличие тайлов на данном масштабе.
                            checkZoomRange: true

                        });

                    });

                    } );

                // Определяем адрес по координатам (обратное геокодирование)
                function getAddress(coords) {
                    ymaps.geocode(coords).then(function (res) {
                        var firstGeoObject = res.geoObjects.get(0);
                        document.getElementById('{{ inputTextId }}').value = firstGeoObject.properties.get('text');
                        document.getElementById('{{ inputFieldId  }}').value = coords[0]+','+coords[1];
                    });
                }

                 {% endif %}
                   }
    </script>



</div>